{% extends "basic.html" %}
{% load humanize %}
{% block title %}WFI-Community|Detail{% endblock title %}
{% block body %}


<div class="container">
  <!--question card-->
  <div class="container question-card my-5">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Q.{{RequestedQuestion}}</h4>
        <p class="card-title">{{RequestedQuestion.detail}}</p>
        <p>
        {% with RequestedQuestion.answer_set.all as ansSet %}
          <p class="mr-2">Asked By: {{RequestedQuestion.AskedBy}}</p>
          <a class="mr-2">{{ansSet|length}} Answers</a>
          <a href="" class="mr-2">{{RequestedQuestion.ask_time|naturaltime}}</a>
          <a href="/writeAns/{{RequestedQuestion.id}}" class="mr-2">Write Answer</a>
          {% endwith %}
        </p>
      </div>
    </div>
  </div>
  <!--end question card-->


  <div class="container">
    <!--Answer card-->
  {% for ans in ans_A  %}
    <div class="row mt-5 mb-5">
      <div class="col-1">
        <div class="upvote">
          <strong>213</strong><br />
          <span class="text-success mr-2">
            <i class="fas fa-arrow-circle-up fa-2x"></i>
          </span>
        </div>
        <div class="downvote mt-1">
          <span class="text-danger">
            <i class="fas fa-arrow-circle-down fa-2x"></i>
          </span><br />
          <strong>21</strong>
        </div>
      </div>
      <!--Answer Section-->
      <div class="col-11">
        <p>{{ans.detail}}</p>
        <p>
        {% with ans.comment_set.all as comentSet %}
          <a href="" class="mr-2">{{ans.AnsGiver}}</a>
          <a href="" class="mr-2">{{comentSet|length}} Comments</a>
          <a href="" class="mr-2">{{ans.post_time|naturaltime}}</a>
        </p>{% endwith %}
        <p>
          Tags:
          {% for tags in Tags %}
          <a href="#" class="badge badge-secondary" >{{tags}}</a>
          {% endfor %}
        </p>
        <br />
        <!--comment section-->
        <h3>Comments</h3>
        <hr/>
        {% for comment in ans.comment_set.all %}
        <div class="card my-4">
          <div class="card-body" class="commentBox">
            <p>{{comment.detail}}</p>
            <a href="#">{{comment.commented_By}}</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- comment form -->
      <div class="card my-3">
        <h6 class="card-header">Add Comment</h6>
        <div class="card-body">
        <form action="saveComment" method="post">{% csrf_token %}
          <textarea name="comment" class="form-control"></textarea>
          <input hidden value="{{ans.id}}" name="answerid" class="form-control">
          <button type="submit" class="btn btn-dark my-3">Comment</button>
        </form>
        </div>
      </div>
      </div>
      <hr/>
    {% endfor %}
  </div>
</div>
{% endblock %} 
