{% extends "basic.html" %}
{% load humanize %}
{% block title %}WFI-Community|Detail{% endblock title %}
{% block body %}


<div class="container">
  <!-- search bar -->
    <form action="" method="get">
        <div class="container py-3 row">
          <div class="col-md-8 offset-2">
            <div class="input-group">
              <input name="searchfieldText" type="text" class="form-control" placeholder="Search">
              <button class="btn btn-danger" type="submit">Search</button>
            </div>
          </div>
        </div>
        </form>

  <!--question card-->
  <div class="container question-card my-5">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title question-head">Q.{{RequestedQuestion}}</h4>
        <p class="card-title qdetail">{{RequestedQuestion.detail}}</p>
        <p>
        {% with RequestedQuestion.answer_set.all as ansSet %}
        <p class="mr-2">
          <i class="fas fa-user-circle text-primary qdetail-icon"></i> {{RequestedQuestion.AskedBy}}
          <i class="fas fa-file-contract text-warning qdetail-icon"></i>
          {{ansSet|length}} Answers
          <i class="fas fa-history text-success qdetail-icon"></i>
          {{RequestedQuestion.ask_time|naturaltime}}
          <i class="fas fa-edit text-danger qdetail-icon"></i>
          <a href="/writeAns/{{RequestedQuestion.id}}" class="mr-2">Write Answer</a>
        </p>
        <p>
          {% if Tags %}
          Tags:
          {% for tags in Tags %}
          <button id="tagsColor" href="#" class="badge badge-secondary" >{{tags}}</button>
          {% endfor %}
          {% endif %}
        </p>
          {% endwith %}
        </p>
      </div>
    </div>
  </div>
  <!--end question card-->


  <div class="container">
    <!--Answer card-->
    <h1 id="ansHead">Answers <i class="fas fa-book-reader fa-2x text-danger"></i></h1>
  {% for ans in ans_A  %}
    <div class="row mt-5 mb-5">
      <div class="col-1">
        <div class="upvote">
          <strong>213</strong><br />
          <span class="text-success mr-2">
            <i class="fas fa-arrow-circle-up fa-2x"></i>
          </span>
        </div>
        <div class="downvote mt-1">
          <span class="text-danger">
            <i class="fas fa-arrow-circle-down fa-2x"></i>
          </span><br />
          <strong>21</strong>
        </div>
      </div>
      <!--Answer Section-->
      <div class="col-11">
        <p id="ansDetails">{{ans.detail}}</p>
        <p>
        {% with ans.comment_set.all as comentSet %}
          <button href="" class="mr-2 btn btn-warning btn-sm">{{ans.AnsGiver}}</button>
          <button href="" class="mr-2 btn btn-primary btn-sm">Comments<span class="badge bg-danger">{{comentSet|length}}</span></button>
          <button href="" class="mr-2 btn btn-success btn-sm">{{ans.post_time|naturaltime}}</button>
          <a href="{% url 'update' ans.id %}" class="mr-2 btn btn-dark btn-sm">Edit Answer</a>
          <a href="{% url 'deleteAns' ans.id %}" class="mr-2 btn deletbtn btn-sm">Delete Answer</a>
        </p>{% endwith %}
        
        <br />
        <!--comment section-->
        <h3 class="comnt-main-head">Comments</h3>
        {% for comment in ans.comment_set.all %}
        <div class="card my-4">
          <div class="card-body" id="cmntdetail">
            <p>{{comment.detail}}</p>
            <p>
              <i class="fas fa-user-circle text-primary qdetail-icon"></i>
              {{comment.commented_By}}
              <i class="fas fa-history text-success qdetail-icon"></i>
              {{comment.post_time|naturaltime}}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>

      <!--Testing space-->
      <h1>==================================================</h1>
        <h1>=============== Testing Area ======================</h1>
        <h1>=============== Comment id from Answer=========================</h1>
      {% for commentid in ans.comment_set.all %}
        <h3>comment id is {{commentid.id}}</h3>
      {% endfor %}
      <!-- comment form -->
      <div class="card my-3">
        <h6 class="card-header cmnt-heading">Add Comment</h6>
        <form action="{% url 'saveComment' ans.id RequestedQuestion.id %}" method="post">{% csrf_token %}
          {{commentForm.as_p}}
          <button class="btn comment-btn" type="submit" value="submit">Comment</button>
        </form>
      </div>
      </div>
      <hr/>
    {% endfor %}
  </div>
</div>
{% endblock %} 
