{% extends "basic.html" %}

{% block title %}WFI-Community{% endblock title %}
{% block body %}

<!--  search button   -->
<div class="container py-3 row">
  <div class="col-md-8 offset-2">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <button class="btn btn-danger" type="submit">Search</button>
    </div>
  </div>
</div>

<!-- Question Card -->
{% for question in all_qns %}
<div class="container question-card">
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">{{question.title}}</h4>
      <p class="card-title">{{question.detail|slice:":80"}}...</p>
      <p>
        <a href="" class="mr-2">{{question.user}}</a>
        <a href="/answers/{{question.title}}/" class="mr-2">5 answers</a>
        <a href="" class="mr-2">10 comments</a>
      </p>

      <form hidden method="get">
        <input type="number" name="question_title" value={{question.title}}>
        <button id="submit" type="submit">submit</button>
      </form>
      <input hidden id="submitStop">
    </div>
  </div>
</div>
<input hidden method="get" id="question_title" name="question_title" value="{{question.id}}">
{% endfor %}



<!-- Pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

{% endblock body %}